body {
    background: rgb(255, 173, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Cursive', sans-serif;
}

.envelope {
    width: 400px;
    height: 250px;
    background: rgb(255, 235, 235);
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.5s;
    border: 1px solid red;
    perspective: 1000px;
}

.envelope:hover {
    transform: scale(1.1);
}
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    border-top: 150px solid rgb(254, 207, 207);
    top: 0px;
    left: 10px;
    transform-origin: top;
    transition: transform 0.6s ease;
    z-index: 1;
}
.envelope:hover .triangle {
    transform: rotateX(180deg);
}
.letter {
      position: absolute;
      top: 0;
      left: 27px;
      width: 300px;
      height: 200px;
      background: #fff;
      border-radius: 10px;
      opacity: 0;
      transition: opacity 0.8s, transform 0.8s;
      transform: translateY(50px);
      padding: 20px;
      text-align: center;
      z-index: 10;
    }

    .envelope:hover .letter {
      opacity: 1;
      transform: translateY(-150px);
    }

    .heart {
      position: absolute;
      bottom: 0;
      left:50%;
      transform: translateX(-50%);
      color: red;
      font-size: 20px;
    opacity: 0;
    z-index: 10;
    }
    .envelope:hover .heart {
        opacity: 1;
      animation: floatUp 4s linear infinite;
    }
 @keyframes floatUp {
      0% { transform: translateY(0) scale(1); opacity: 1; }
      100% { transform: translateY(-300px) scale(1.5); opacity: 0; }
    }

